---
layout: default
title: Home
---
<!--Style Sheets-->
    <!--Scripts-->


  <div class="col-50">
    <img src="img/self.JPG" style="height: 70vh; width: 35vw;"/>
  </div>
  <div class="col-50">
    <article>
    <h2>Daniel Bashir</h2>
    </article>
    <p>Hi! I'm a third year undergraduate at Harvey Mudd College majoring in Computer Science and Mathematics. This semester, I'm TAing for Harvey Mudd's Algorithms and Machine Learning classes. I'm working in the AMISTAD lab (read more in my experience page!) on theoretical machine learning, and serving as Diversity Director on the ASHMC Executive Board. </p>
    <p>My interests include application of techniques from math, data science, and machine learning. In particular, I'm interested in appliactions of areas like deep learning and NLP to areas with social impact, and in developing a theoretical understanding of learning. </p>
    <p>In my free time, I like to write, play the violin, and exercise. I'm always aspiring to be a more voracious reader and widen my views on the world.</p>
   <p>Feel free to email me at <a href='mailto:dbashir@hmc.edu'>dbashir@hmc.edu</a> or reach out to me at any of the links below!</p>
  <br>
  </div>
</div>
  <div class="icons" style="text-align: center;">
  <a class = "fa fa-linkedin" href="https://www.linkedin.com/in/daniel-bashir/" target="_blank"></a>
  <a class = "fa fa-github" href = "https://github.com/db7894" target="_blank"></a>
  <a class = "fa fa-envelope" href = "mailto:dbashir@hmc.edu"></a>
  <a class = "fa fa-medium" href = "https://medium.com/@dbashir/" target="_blank"></a>
  </div>
<!--
<ul class="projects clearfix">
{% for post in site.categories.project %}
  <li>
    <div class="project">
      <a class="cover" href="{{ post.url }}">
        <div class="project-details">
          <span>
            {{ post.title }}
          </span>
          <span>
            {{ post.worktype }}
          </span>
          <span>
            View project
          </span>
        </div>
      </a>
      {% if post.opensource %}
        {% if post.blackbg %}
          <span class="github-icon light"></span>
        {% else %}
          <span class="github-icon"></span>
        {% endif %}
      {% endif %}
      {% if post.progress %}
        <span class="progress">
          <span class="under-construction"></span>
          <span class="progress-bar" style="width: {{ post.progress }}%"></span>
        </span>
      {% endif %}
      <img class="thumb" src="img/thumbs/{{ post.uid }}.jpg" />
      <div class="aspect-two-one"></div>
    </div>
  </li>
{% endfor %}
</ul>
-->
