---
layout: default
title: Projects
---
<div class="col-50">

  <div class="image-example">
    <img src="../img/hmc.jpg" style="height: 65vh; width: 30vw;"/>
  </div>
</div>
<div class="col-50">
  <h2 style="padding: 0px 0px 0px 10px;">Experience</h2><br>
  <p style="padding: 0px 20px 0px 20px;">While you'll see that most of my experience is in research, I really care about making a concrete impact on the world around me and helping people live better lives. To that end, it's my goal to work in industry where I can do work that both speaks to me (on the level of my love for math, algorithms, and so on), but also has real-world uses and benefits for other people.</p>
  <h2 style="padding: 0px 0px 0px 10px;">Research</h2>
  <p style="padding: 0px 20px 0px 20px;">Starting January 2019, I will be involved in the AMISTAD (Artificial Machine Intelligence = Search Targets Awaiting Discovery) lab with professor <a href='http://www.cs.cmu.edu/~gmontane/'>George Montañez</a>, professor of Computer Science at Harvey Mudd College. The inspiration of the lab focuses on a framework for understanding Machine Learning that leverages aspects of statistical estimation, information theory, and algorithmic search. My research here will focus on theoretical Machine Learning, and projects will be similar to one I pursued as part of my coursework in Fall 2018 that involved proving upper bounds on the proportion of successful search problems in a continuous compact space.</p>

  <p style="padding: 0px 20px 0px 20px;">From January to December 2018 I was involved in the Music Information Retrieval Lab at Harvey Mudd College. As a member of this lab, I primarily worked on a project involving utilizing computer vision and object detection techniques to develop a system that could take an image of a page of sheet music and identify the name of the piece by searching for it in a massive database.</p>

  <p style="padding: 0px 20px 0px 20px;">During this project, I learned a great deal about deep learning through completing fast.ai where I learned about the Keras, Theano and Tensorflow libraries as well as the mathematics behind deep learning involving Convolutional and Recurrent Neural Networks. I learned how to use Python libraries such as BeautifulSoup to implement a web scraper to download more than 400,000 PDFs from a website, implemented and iterated a number of machine learning architectures to solve various problems in Python, and performed a great deal of data manipulation and visualization using libraries such as Pandas in order to better understand our problem.</p>

</div>


<h2 style="padding: 0px 0px 0px 10px;">Coursework</h2>
<p style="padding: 0px 20px 0px 20px;">Because of Harvey Mudd's Core requirements, I spent my first three semesters straddled between all disciplines that Harvey Mudd offers. Mudd requires all students to take a set list of courses from Chemistry, Biology, Physics, Computer Science, Engineering, Mathematics, and Critical Inquiry / Writing during the first three semesters. While I found that this leaves time for major-specific courses and work pretty limited until the end of sophomore year, I think it provided the benefit that I had exposure to a great deal of areas in STEM and really have a passion for what I want to focus on.</p>

<h2 style="padding: 0px 0px 0px 10px;">Computer Science / Engineering</h2>
<ul style="list-style-type:circle;">
  <li style="padding: 0px 20px 0px 20px;">- Computer Systems (Spring 2019)</li>
  <li style="padding: 0px 20px 0px 20px;">- Digital Electronics and Computer Architecture (Spring 2019)</li>
  <li style="padding: 0px 20px 0px 20px;">- Algorithms</li>
  <li style="padding: 0px 20px 0px 20px;">- Machine Learning, Information Theory and Search</li>
  <li style="padding: 0px 20px 0px 20px;">- Logic and Computability</li>
  <li style="padding: 0px 20px 0px 20px;">- Data Structures and Program Development</li>
  <li style="padding: 0px 20px 0px 20px;">- Electrical Engineering</li>
  <li style="padding: 0px 20px 0px 20px;">- Engineering Design and Manufacturing</li>
</ul>

<h2 style="padding: 0px 0px 0px 10px;">Mathematics</h2>
<ul style="list-style-type:circle;">
<li style="padding: 0px 20px 0px 20px;">- Analysis I (Spring 2019)</li>
<li style="padding: 0px 20px 0px 20px;">- Time Series</li>
<li style="padding: 0px 20px 0px 20px;">- Abstract Algebra I</li>
<li style="padding: 0px 20px 0px 20px;">- Intermediate Linear Algebrav
<li style="padding: 0px 20px 0px 20px;">- Intermediate Probability</li>
<li style="padding: 0px 20px 0px 20px;">- Linear Algebra and Differential Equations II</li>
</ul>

<h2 style="padding: 0px 0px 0px 10px;">Miscellaneous</h2>
<ul style="list-style-type:circle;">
<li style="padding: 0px 20px 0px 20px;">- Financial Markets and Modeling (Spring 2019)</li>
<li style="padding: 0px 20px 0px 20px;">- Financial Economics</li>
<li style="padding: 0px 20px 0px 20px;">- Foreign Relations of the US</li>
<li style="padding: 0px 20px 0px 20px;">- Principles of Economic Analysis</li>
</ul>

<div class="col-50">

  <div class="image-example">
    <img src="../img/ashmc.jpg" style="height: 70vh; width: 45vw; padding:  60px 0px 0px 0px;"/>
  </div>
</div>
<div class="col-50">
  <h2 style="padding: 0px 0px 0px 10px;">Teaching and Leadership</h2>
  <p style="padding: 0px 20px 0px 20px;">I'm passionate about leadership and trying to make an impact on my campus and the people around me. To that end, I currently serve as Diversity Director on the Executive Board of the Associated Students of Harvey Mudd College (ASHMC), HMC's student government. In this role, I oversee and help diversity-related groups and organizations in their efforts to create a more inclusive atmosphere on campus, and help support on-campus activities and services designed to promote diversity. Two examples of projects I've helped work on include the Riggs Room, a space for diversity groups on Harvey Mudd's campus, and the ASHMC Textbook Library, a service for students to freely borrow and use textbooks for their core and major classes without having to deal with the financial burden of purchasing them. In Fall 2018, I also served on a Hiring Comimttee to interview and select candidates for Harvey Mudd's Associate Dean of Institutional Diversity.</p>

  <p style="padding: 0px 20px 0px 20px;">During my freshman and sophomore year, I served as Co-President of the Class of 2020, where I put on events to promote interaction and bonding both among students and between students and professors and served as a liaison between students and ASHMC. As a member of Senate, I helped craft policy and voted on various proposals from funding/budgeting requests to changes to ASHMC's constituation.</p>

  <p style="padding: 0px 20px 0px 20px;">My sophomore year, I was a Mentor for APISPAM, Harvey Mudd's Asian / Pacific Islander affinity group. I helped mentor API-identifying freshmen and put on events related to issues faced by the API community.</p>

  <p style="padding: 0px 20px 0px 20px;">This Spring (2019), I will be TAing for CS 158 (Machine Learning) and CS 140 (Algorithms) at Harvey Mudd College. For these classes, I will be holding office hours and grading assignments. In Fall 2017, I TAed for the advanced section of CS5 (Introduction to Computer Science) at Harvey Mudd College, and for CS35 (Data Science) in Spring of 2018.</p>
</div>
<!--
<ul class="projects clearfix">
{% for post in site.categories.project %}
  <li>
    <div class="project">
      <a class="cover" href="{{ post.url }}">
        <div class="project-details">
          <span>
            {{ post.title }}
          </span>
          <span>
            {{ post.worktype }}
          </span>
          <span>
            View project
          </span>
        </div>
      </a>
      {% if post.opensource %}
        {% if post.blackbg %}
          <span class="github-icon light"></span>
        {% else %}
          <span class="github-icon"></span>
        {% endif %}
      {% endif %}
      {% if post.progress %}
        <span class="progress">
          <span class="under-construction"></span>
          <span class="progress-bar" style="width: {{ post.progress }}%"></span>
        </span>
      {% endif %}
      <img class="thumb" src="../img/thumbs/{{ post.uid }}.jpg" />
      <div class="aspect-two-one"></div>
    </div>
  </li>
{% endfor %}
</ul>
-->
